<div id="<%= dom_id college_class %>">
  <p>
    <strong>Day:</strong>
    <%= college_class.day %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= college_class.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= college_class.end_time %>
  </p>

  <p>
    <strong>Lecturer:</strong>
    <%= college_class.lecturer_id %>
  </p>

  <p>
    <strong>Course:</strong>
    <%= college_class.course_id %>
  </p>

  <p>
    <strong>Room:</strong>
    <%= college_class.room_id %>
  </p>

</div>
